################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.opendb
*.suo
*.Browser.VC.db
*.Browser.VC.db-shm
*.slnx.sqlite
*.VSWorkspaceState.json

